body {

}

.todo-list {
    gap:10px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    height: 80%;
    min-height: 80%;
    overflow: scroll;
}
.todo-list-item {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 40rem;
    border:1px solid gray;
    border-radius: 5px;
    margin-top:10px;
    height: 25px;
}
.complete {
    background-color: rgba(14, 200, 100, 0.5);
    box-shadow: 5px 5px rgba(14, 200, 100, 0.3);
}
.incomplete {
    background-color: rgba(255, 15, 15, 0.5);
    box-shadow: 5px 5px rgba(255, 15, 15, 0.3);
}
.todo-text-area {
    width: 90%;
}
.todo-remove-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    content: "X";
    border: 0px;
    padding: 5px
}
.todo-filter-button {
    border:none;
    background-color: transparent;
    color: blue;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
.todo-filter-button:hover {
    background-color: rgba(0,0,0, .1);
}

.todo-filter-button.active {
    background-color: rgba(0,0,255, .1);
}
.todo-filter-button.inactive {
    background-color: none;

}

footer {
    display: flex;
    flex-direction: column;
}
.footer-item {
    display: flex;
    flex-direction: row;
    align-items: anchor-center;
}
.edit-input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 2px;
}